/* General Navbar Styles */
.navbar {
    background-color: #a8a1a1; /* Light background for a clean look */
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1); /* Soft shadow for depth */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Modern font */
  }
  
  .navbar-brand {
    color: #007bff !important; /* Brand color for visibility */
    transition: color 0.3s; /* Smooth color transition */
  }
  
  .navbar-brand:hover,
  .navbar-brand:focus {
    color: #0056b3 !important; /* Darker shade on hover/focus */
  }
  
  .nav-link {
    color: #5a5a5a !important; /* Dark grey color for links */
    transition: all 0.3s ease; /* Smooth transition for effects */
    position: relative;
  }
  
  .nav-link:hover,
  .nav-link:focus {
    color: #007bff !important; /* Highlight color on hover/focus */
  }
  
  .nav-link:hover::after,
  .nav-link:focus::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #007bff; /* Underline color */
    width: 100%;
  }
  
  /* Toggler icon for better visibility in light navbar */
  .navbar-toggler {
    border-color: #dee2e6 !important; /* Light grey border for toggler */
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23007bff' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 123, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
    /* Custom SVG icon with fill color matching the brand */
  }
  